[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
requests = "*"
pytest-recording = "*"
sentry-sdk = {extras = ["flask"], version = "*"}

[dev-packages]
flake8 = "*"
pytest = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
