interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://mit.alma.exlibrisgroup.com/view/sru/01MIT_INST?version=1.2&operation=searchRetrieve&recordSchema=dc&query=alma.all_for_ui=asdfasdfasfasdfasdfasdfMIT01
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><searchRetrieveResponse
        xmlns=\"http://www.loc.gov/zing/srw/\">\n  <version>1.2</version>\n  <numberOfRecords>0</numberOfRecords>\n
        \ <records/>\n  <extraResponseData xmlns:xb=\"http://www.exlibris.com/repository/search/xmlbeans/\">\n
        \   <xb:exact>true</xb:exact>\n    <xb:responseDate>2021-06-03T14:29:16-0400</xb:responseDate>\n
        \ </extraResponseData>\n</searchRetrieveResponse>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
